
<IfModule mod_headers.c>
#only for favicon.ico

#all static files other than sharethis.js
	<FilesMatch "\.(js|css|ico|jpg|jpeg|png|gif|html|htm)$">
		Header set Cache-Control "public"
		Header set Expires "Thu, 15 Apr 2010 20:00:00 GMT"
		Header unset Last-Modified
		Header unset Pragma
		Header unset ETag
	</FilesMatch>

#only for loader cache for a day	
	<FilesMatch sharethis.js>
		Header set ETag "3.9.2"
		Header set Cache-Control "max-age=86400, public"
		Header unset Last-Modified
		Header unset Expires
	</FilesMatch>

#sharethis.css /button  
	<FilesMatch sharethis.css>
		Header set Cache-Control "public"
		Header unset Last-Modified
		Header set Cache-Control "public"
		Header set Expires "Thu, 15 Apr 2010 20:00:00 GMT"
		Header unset Pragma
		Header unset ETag
	</FilesMatch>

	<FilesMatch "\.(ico)$">
		Header set Cache-Control "public"
		Header set Expires "Thu, 15 Apr 2010 20:00:00 GMT"
		Header set manu "icon file"
		Header unset Last-Modified
		Header unset Pragma
		Header unset ETag
	</FilesMatch>
	
</IfModule>


<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME}.php -f
	RewriteRule (.*)$ $1.php
	RewriteRule ^widget/(|index(|.php))$ /button/sharethis.js? [L,QSA]

	RewriteRule ^button/css/sharethis.(\d{1}.\d{1}.\d{1}.[0-9a-zA-Z]{3}).css$ /button/css/sharethis.css [L]
	RewriteRule ^share3x/lightbox.(\d{1}.\d{1}.\d{1}.[0-9a-zA-Z]{3}).html$ /share3x/lightbox.html [L]
	RewriteRule ^share3x/js/all.(\d{1}.\d{1}.\d{1}.[0-9a-zA-Z]{3}).js$ /share3x/js/all.js [L]
	RewriteRule ^share3x/css/share.(\d{1}.\d{1}.\d{1}.[0-9a-zA-Z]{3}).css$ /share3x/css/share.css [L]
	RewriteRule ^share3x/css/ie.(\d{1}.\d{1}.\d{1}.[0-9a-zA-Z]{3}).css$ /share3x/css/share.css [L]
	RewriteRule ^share3x/css/ie6.(\d{1}.\d{1}.\d{1}.[0-9a-zA-Z]{3}).css$ /share3x/css/share.css [L]
	RewriteRule ^share3x/css/override.(\d{1}.\d{1}.\d{1}.[0-9a-zA-Z]{3}).css$ /share3x/css/share.css [L]
</IfModule>


















